.user-component__subtitle__box {
    display: flex;
    align-items: center;
}
.user-component__subtitle__box span{
    display: flex;
justify-content: center;
align-items: center;
    height: 15px;
    width: 15px;
    border: 2px solid tomato;
    border-radius: 50%;
    color: tomato;
    margin-top: 10px;
    margin-left: 5px;
}